/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
} */
.main-header .showcase {
  padding-top: 70px;
}

.img-resize {
  height: 500px;
  object-fit: cover;
}

.user-home-padding {
  padding: 20px 90px 100px 90px;
}

.container-padding {
  padding: 40px 0px 0px 0px;
}

#allUsersHeading {
  text-align: center;
}
